*{
    padding: 0;
    
}

.bg{
    background-image: url(dharsh\ prof.jpeg);
}

.container{
    display: ;
    position: absolute;
    padding: 10%;
    margin: 10 rem;
    border-color: blue;
    border-width: 20rem;
}

